{% extends 'base.html' %}
{% block conteudo %} 
<main id="main">
    <section id="services" class="portfolio">
        <div class="container">
            <div class="section-title">
                <span>{{servico.nome_servico}}</span>
                <h2>{{servico.nome_servico}}</h2>
                <p>{{servico.descricao_servico}}</p>
            </div>
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
                {% for servico in servicos %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{{url('templates/site/assets/img/portfolio/portfolio-1.jpg')}}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{{servico.nome_servico}}</h4>
                        <p>{{resumirTexto(servico.descricao_servico, 150)}}</p>
                        <a href="{{url('templates/site/assets/img/portfolio/portfolio-1.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="{{url('servico/'~servico.id)}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>                   
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}