{% extends 'base.html' %}
{% block conteudo %}
<!-- ======= Intro Section ======= -->

<div class="intro intro-carousel swiper position-relative">
    <div class="swiper-wrapper">
        <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(assets/img/slide-1.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Doral, Florida
                                        <br> 78345
                                    </p>
                                    <h1 class="intro-title mb-4 ">
                                        <span class="color-b">204 </span> Mount
                                        <br> Olive Road Two
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(assets/img/slide-2.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Doral, Florida
                                        <br> 78345
                                    </p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">204 </span> Rino
                                        <br> Venda Road Five
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(assets/img/slide-3.jpg)">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">Doral, Florida
                                        <br> 78345
                                    </p>
                                    <h1 class="intro-title mb-4">
                                        <span class="color-b">204 </span> Alira
                                        <br> Roan Road One
                                    </h1>
                                    <p class="intro-subtitle intro-price">
                                        <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div> 
<!--<End Intro Section-->
<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Nossos serviços</h1>
                        <i class="bi bi-laptop computer-icon"></i>
                        <span class="color-text-a script-font" id="typed-output"></span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{url()}}">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Serviços
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- =======  Blog Grid ======= -->
    <section class="news-grid grid">
        <div class="container">
            {% if servicos %}
            <div class="row">
                {% for servico in servicos %}
                <div class="col-md-4">
                    {% if usuario().level == 3 %}
                    <div class="card-footer border-0 bg-danger text-secondary text-end">
                        <a href="{{ url('admin/servicos/editar/'~servico.id) }}" tooltip="tooltip" title="Editar">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{{ url('admin/servicos/deletar/'~servico.id) }}" tooltip="tooltip" title="Deletar">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                    {% endif %}
                    <div class="card-box-b card-shadow news-box">
                        <div class="img-box-b">
                            <img src="{{url('templates/site/assets/img/post-1.jpg')}}" alt="" class="img-b img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-header-b">
                                <div class="card-category-b">
                                    <a href="{{url('servico/'~servico.slug)}}" class="{% if servico.status == 1 %} status-d {% else %}status-i{% endif %}">{% if servico.status == 1 %}<i class="bi bi-check-circle-fill text-success"></i> Disponível {% else %}<i class="bi bi-tools text-secondary"></i> Em desenvolvimento{% endif %}</a>
                                </div>
                                <div class="card-title-b">
                                    <h2 class="title-2">
                                        <a href="{{url('servico/'~servico.slug)}}">{{servico.nome_servico}}</a>
                                    </h2>
                                </div>
                                <div class="card-date">
                                    <small class="date-b">
                                        Desenvolvido por <b>{{servico.usuario.nome}}</b> {{contarTempo(servico.cadastrado_em)}} em <i>{{servico.categoria.nome_categoria|upper}}</i>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert">
                Nenhum serviço cadastrado para exibir!
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-12">
                    <nav class="pagination-a">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">
                                    <span class="bi bi-chevron-left"></span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item next">
                                <a class="page-link" href="#">
                                    <span class="bi bi-chevron-right"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Blog Grid-->
</main><!-- End #main -->
{% endblock %}