{% extends 'base.html' %}
{% block conteudo %} 
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Bem-vindo</h1>
        <h2><span id="typed-output"></span></h2>
        <a href="#services" class="btn-get-started scrollto">Iniciar</a>
    </div>
</section>
<main id="main">
    <section id="services" class="portfolio">
        <div class="container">
            <div class="section-title">
                <span>Serviços</span>
                <h2>Serviços</h2>
                <p>Do design inovador à manutenção impecável, nossos serviços integram tecnologia de ponta e criatividade excepcional, assegurando que cada experiência digital seja não apenas envolvente, mas também confiável em sua excelência.</p>
            </div>
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
                {% for servico in servicos %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="{{url('templates/site/assets/img/portfolio/portfolio-1.jpg')}}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>{{servico.nome_servico}}</h4>
                        <p>{{resumirTexto(servico.descricao_servico, 150)}}</p>
                        <a href="{{url('templates/site/assets/img/portfolio/portfolio-1.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="{{url('servico/'~servico.id)}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>                   
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}