{% extends 'base.html' %}
{% block conteudo %} 
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Detalhes</li>
            </ol>
            <h2>Detalhes do serviço:</h2>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide">
                                <img src="{{url('templates/site/assets/img/portfolio/portfolio-1.jpg')}}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="{{url('templates/site/assets/img/portfolio/portfolio-2.jpg')}}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="{{url('templates/site/assets/img/portfolio/portfolio-3.jpg')}}" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Informações</h3>
                        <ul>
                            <li><strong>Categoria</strong>: Web design</li>
                            <li><strong>Ramo</strong>: Restaurante</li>
                            <li><strong>Data do projeto</strong>: 01 March, 2020</li>
                            <li><strong>Video demonstração</strong>: <a href="#">www.example.com</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>{{servico.nome_servico}}</h2>
                        <p>
                            {{servico.descricao_servico}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}