{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Serviços
        </li>
    </ol>
</nav>
{{flash()}}
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form action="{% if servico.id %}{{url('admin/servicos/editar/'~servico.id)}}{%else%}{{url('admin/servicos/cadastrar')}}{%endif%}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="capa" class="form-label">
                    <i class="bi bi-image h5 text-primary"></i> Banner
                </label>
                <input class="form-control" type="file" id="capa" name="capa" accept=".png, .jpg, .jpeg">
            </div>
            <div class="mb-3">
                <label for="nome_servico" class="form-label">
                    <i class="bi bi-box h5 text-primary"></i> Título do serviço:
                </label>
                <input type="text" name="nome_servico" id="nome_servico" value="{{servico.nome_servico}}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="descricao_servico" class="form-label">
                    <i class="bi bi-file-earmark-text h5 text-success"></i> Descrição do serviço:
                </label>
                <textarea name="descricao_servico" class="form-control ckeditor" rows="3">{{servico.descricao_servico}}</textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="categoria_id" class="form-label">
                            <i class="bi bi-folder h5 text-info"></i> Categoria
                        </label>
                        <select class="form-select" name="categoria_id" id="categoria_id">
                            {% for categoria in categorias %}
                            <option value="{{categoria.id}}" {% if servico.categoria_id == categoria.id %}selected{% endif %} >{{categoria.nome_categoria}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="status" class="form-label">
                            <i class="bi bi-toggle-on h5 text-warning"></i> Status
                        </label>
                        <select class="form-select" name="status">
                            <option value="1" {% if servico.status == '1' %}selected{% endif %}>
                            <i class="bi bi-check-circle-fill text-success"></i> Ativo
                            </option>
                            <option value="0" {% if servico.status == '0' %}selected{% endif %}>
                            <i class="bi bi-x-circle-fill text-danger"></i> Inativo
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="d-grid">
                <input type="submit" class="btn btn-dark" value="{% if servico.id %}Atualizar{% else %}Cadastrar{% endif %}">
            </div>
        </form>
    </div>    
</div>
{% endblock %}
