{% extends "dashboard.html" %}

{% block conteudo %}  
<nav aria-label="breadcrumb" class="mt-3 mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}" class="text-decoration-none text-muted">
                <i class="bi bi-house-door h4"></i> Painel de Controle
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="bi bi-gear h4"></i> Serviços <i class="bi bi-caret-down-fill"></i>
        </li>
    </ol>
</nav>


{{ flash() }}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-light border-0 d-flex justify-content-between align-items-center">
        <div>
            <span class="badge rounded-pill text-dark bg-light">
                <i class="bi bi-tools h4"></i> {{total.servicos}} serviços
            </span>

            <span class="badge rounded-pill text-success bg-light ms-2">
                <i class="bi bi-check-circle h4 text-success"></i> {{total.servicosAtivo}} ativos
            </span>

            <span class="badge rounded-pill text-danger bg-light ms-2">
                <i class="bi bi-x-circle h4 text-danger"></i> {{total.servicosInativo}} inativos
            </span>
        </div>

        <a href="{{url('admin/servicos/cadastrar')}}" class="btn btn-dark">
            Cadastrar&nbsp;<i class="bi bi-plus-circle h4"></i>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center"><i class="bi bi-key h5 text-primary"></i></th>
                        <th class="text-center"><i class="bi bi-box h5 text-primary"></i> Nome do Serviço</th>
                        <th class="text-center"><i class="bi bi-toggle-on h5 text-warning"></i> Status</th>
                        <th class="text-center"><i class="bi bi-arrow-right h5 text-info"></i> Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for servico in servicos %}
                    <tr>
                        <td class="text-center">{{ servico.id }}</td>
                        <td class="text-center">{{ servico.nome_servico }}</td>
                        <td class="text-center">
                            {% if servico.status == 1 %}
                            <i class="fa-solid fa-circle text-success" tooltip="tooltip" title="Ativo"></i>
                            {% else %}
                            <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Inativo"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="#info{{servico.id}}" data-bs-toggle="offcanvas" tooltip="tooltip" title="Status"><i class="fa-solid fa-arrow-trend-up"></i></a>
                            <a href="{{ url('admin/servicos/editar/' ~ servico.id) }}" tooltip="tooltip" title="Editar"><i class="fas fa-edit"></i></a>
                            <a href="{{ url('admin/servicos/deletar/' ~ servico.id)}}" tooltip="tooltip" title="Deletar" data-confirm="Você realmente quer deletar?"><i class="fas fa-trash-alt"></i></a>                          
                        </td>
                    </tr>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="info{{servico.id}}">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{servico.nome_servico}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Criado em: <b>{{ servico.cadastrado_em|date("d/m/Y H:i:s") }}</b>
                            </li>
                            <li class="list-group-item">
                                Atualizado em: <b>{{servico.atualizado_em}}</b>
                            </li>
                            <li class="list-group-item">
                                Última visita em: <b>{{servico.ultima_visita_em}}</b>
                            </li>
                            <li class="list-group-item">
                                Desenvolvido por <b>{{servico.usuario.nome}}</b>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
                </tbody>
            </table>
        </div>     
    </div>
</div>
{% endblock %}