<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Painel Administrativo</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="{{url()}}" rel="icon">
        <link href="{{url()}}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- INTERNOS -->
        <link href="{{url('templates/site/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
        <link href="{{url('templates/assets/css/estilos.css')}}" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ url('templates/admin/assets/css/admin.css') }}">
        <link href="{{url('templates/site/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
        <link href="{{url('templates/admin/assets/css/style.css')}}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.css" rel="stylesheet">
        <!--<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">-->
    </head>
    <body>
        {% block corpo %} {% endblock %}        

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- EXTERNOS -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{url('templates/site/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{url('templates/admin/assets/js/main.js')}}"></script>
        <script src="{{url('templates/admin/assets/js/Jbox.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
        <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
        <script src="{{ url('templates/admin/assets/js/ckeditor/ckeditor.js') }}"></script>
        <script src="{{ url('templates/assets/js/scripts.js') }}"></script>
        <script src="{{ url('templates/admin/assets/js/datatable.js') }}"></script>
        <script src="{{ url('templates/admin/assets/js/admin.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    </body>
</html>
