<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center">
            <small class="d-none d-lg-block lead">{{constant('SITE_NOME')}}</small>           
        </a>
        <i class="bi bi-list toggle-sidebar-btn" style="margin-right: 35px;"></i>
        <a href="{{url()}}" class="text-secondary fs-4 mb-1">
            <i class="fa-solid fa-house"></i>
        </a>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <div class="btn-group mb-2">
                <button class="btn bg-white dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                   
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li>
                        <a class="dropdown-item" href="#" tooltip="tooltip" title="Perfil">
                            Perfil
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" href="{{url('admin/sair')}}" tooltip="tooltip" title="Sair do Sistema">
                            Sair
                        </a>
                    </li>
                </ul>
            </div>
        </ul>
    </nav>
</header>
